/*----- Section hero -----*/

.sectionHeroProjets {
  background-color: var(--bs-primary);
  background-position: 100% 100%;
  background-size: cover;
}

/*----- Section oeuvre -----*/

main video {
  width: 100%;
  height: 100%;
}

.sectionOeuvre2 {
  background-color: var(--bs-info);
}

.sectionOeuvre4 {
  background-color: var(--bs-secondary);
}


/*----- Media query -----*/

@media screen and (max-width: 768px) {
  .sectionOeuvre2 .container .row {
    flex-direction: column-reverse;
  }

  .sectionOeuvre4 .container .row {
    flex-direction: column-reverse;
  }
}

/*----- Bande colorée -----*/

.bande-coloree {
  width: 100%;
  height: 10px;
  background-image: url(../assets/images/bande_colore.jpg);
  background-position: 100% 40%;
  background-size: cover;
}


/*----- Swiper -----*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper6 {
  height: 80%;
  width: 100%;
}

.mySwiper8 {
  height: 80%;
  width: 100%;
}

.mySwiper5 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper7 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper9 {
  height: 80%;
  width: 100%;
}

.mySwiper10 {
  height: 80%;
  width: 100%;
}

.mySwiper5 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  margin-top: 5px;
}

.mySwiper7 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  margin-top: 5px;
}

.mySwiper9 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  margin-top: 5px;
}

.mySwiper5 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper7 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper9 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--bs-dark);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 20px;
    cursor: pointer;
  border-radius: 50%;

}

.swiper-button-next::after {
  position: relative;
  right: 20px;
}

.swiper-button-prev::after {
  position: relative;
  left: 20px;
}

@media only screen and (max-width: 445px) {
  .swiper-button-next::after {
    display: none;
  }
  
  .swiper-button-prev::after {
    display: none;
  }
}
