
/*----- Section hero -----*/

.sectionHeroContact div {
    background-color: var(--bs-secondary);
}

.sectionHeroContact img {
    width: 100%;
    border-radius: 80% 80% 0 0;
    max-width: 500px;
}

/*----- Section informations -----*/

.sectionInformations {
    background-color: var(--bs-light);
}

.sectionInformations a img:hover {
    transform: scale(1.06);
}

.adresse {
    color: var(--bs-dark);
}

.adresse:hover {
    color: rgba(0, 0, 0, 0.5);
}

/*----- Bande colorée -----*/

.bande-coloree {
    width: 100%;
    height: 10px;
    background-image: url(../assets/images/bande_colore.jpg);
    background-position: 100% 40%;
    background-size: cover;
}