/*----- Styles Généraux -----*/

@font-face {
    font-family: lilita-one;
    src: url(/assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: besley;
    src: url(/assets/fonts/Besley/Besley-VariableFont_wght.ttf);
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: var(--bs-dark);
}

h2 {
    font-size: 60px;
    font-family: lilita-one;
    color: var(--bs-primary);
}

h3 {
    font-size: 30px;
    font-family: besley;
    color: var(--bs-light);
}

h4 {
    font-size: 28px;
    font-family: lilita-one;
    color: var(--bs-dark);
}

h5 {
    font-size: 24px;
    font-family: besley;
    color: var(--bs-primary);
}

h6 {
    font-size: 20px;
    font-family: lilita-one;
    color: var(--bs-primary);
}

p {
    font-family: besley;
}

main {
    height: 120%;
}

html {
    overflow-x: hidden;
}

/*----- Navigation -----*/

nav {
    background-color: var(--bs-primary);
    width: 100vw;
}

nav .nav-item:hover {
    transform: scale(1.1);
}

nav .nav-item {
    margin-right: 15px;
}

nav .nav-item a {
    color: var(--bs-light);
}

.navbar-brand img {
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: -2px;
    margin-right: 10px;
}


/*----- Section Hero -----*/
.sectionHero {
    overflow: hidden;
}

.sectionHero h2 {
    color: var(--bs-dark);
    letter-spacing: 10px;
}

.sectionHero h3 {
    color: var(--bs-dark);
    letter-spacing: 3px;
}

.sectionHero img {
    width: auto;
    height: 500px;
    object-fit: contain;
    object-position: 50% 15%;
    border-radius: 80% 80% 0 0;
    z-index: 1;
}

.contact-hero {
    width: 100%;
    color: var(--bs-primary);
}

.sectionHero .col-lg-6.text-center {
    position: relative; /* permet de positionner le rectangle par rapport à cette colonne */
}

.couleur {
    position: absolute;
    top: -50%;
    left: 50%; 
    width: 300%;
    height: 180%; 
    background-color: var(--bs-secondary);
    z-index: -1;
}

/*----- Section types d'oeuves -----*/

.sectionTypesOeuvres {
    background-color: var(--bs-secondary);
    
}

.sectionTypesOeuvres .card- {
    border: none;
}

.bg-transparent-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.sectionTypesOeuvres img,
video {
    height: 150px;
    width: auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
}

/*----- Section footer -----*/

footer .logo {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}

footer a img:hover {
    transform: scale(1.06);
}

/*----- Bande colorée -----*/

.bande-coloree-medium {
    height: 60px;
    background-color: var(--bs-primary);
}

.bande-coloree-medium p {
    font-size: 18px;
    font-family: lilita-one;
    vertical-align: middle;
    line-height: 60px;
}

.bande-coloree-medium span {
    font-size: 18px;
    font-family: lilita-one;
    vertical-align: middle;
    line-height: 60px;

}

.bande-coloree-medium .d-flex {
    gap: 5em;
}

/*----- Distribution des taches pour les projets -----*/

.distribution-taches {
    border-radius: 30px;
    border: 2px solid black;
    width: 100%;
}

.distribution-taches p {
    margin: 0;
}

/*----- Media query -----*/

@media screen and (max-width: 1400px) {
    .sectionTypesOeuvres .card h3 {
        height: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .sectionHero img {
        width: auto;
        height: 400px;
        object-fit: contain;
        object-position: 50% 15%;
        border-radius: 80% 80% 0 0;
    }

    .sectionTypesOeuvres .card h3 {
        height: 100%;
    }

    .bande-coloree-medium .d-flex {
    gap: 3em;
}
}

@media screen and (max-width: 992px) {
    .sectionHero img {
        width: auto;
        height: 400px;
        object-fit: contain;
        object-position: 50% 15%;
        border-radius: 80% 80% 0 0;
    }

    .couleur {
        display: none;
    }

    .sectionHero h2 {
        text-align: center;
    }

    .sectionHero h3 {
        text-align: center;
    }

    .contact-hero {
        text-align: center;
    }

    .sectionHero .row {
        flex-direction: column-reverse;
    }

    .bande-coloree-medium p {
    font-size: 18px;
    gap: 2;
}

.bande-coloree-medium span {
    font-size: 18px;
}

.bande-coloree-medium .d-flex {
    gap: 1em;
}


}

@media screen and (max-width: 624px) {
    .bande-coloree-medium p {
    font-size: 13px;
    gap: 2;
}

.bande-coloree-medium span {
    font-size: 13px;
}

.bande-coloree-medium .d-flex {
    gap: 1em;
}
}


@media screen and (max-width: 768px) {
    .contact-hero {
        width: 95%;
        position: relative;
        left: -10px;
        text-align: center;
    }

    .sectionHero h2 {
        text-align: center;
    }

    .sectionHero h3 {
        text-align: center;
    }

    .bande-coloree-medium p {
    font-size: 13px;
    gap: 2;
}

.bande-coloree-medium span {
    font-size: 13px;
}

.bande-coloree-medium .d-flex {
    gap: 1em;
}
}


@media screen and (max-width: 576px) {
    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 22px;
    }

    .sectionHero h2 {
        letter-spacing: 10px;
    }

    .sectionHero h3 {
        letter-spacing: 8px;
    }

    .sectionHero img {
        max-width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: contain;
        border-radius: 80% 80% 0 0;
    }

    .bande-coloree-medium p {
    font-size: 80%;
    gap: 2;
}

.bande-coloree-medium span {
    font-size: 80%;
}

.bande-coloree-medium .d-flex {
    gap: 1em;
}
}

@media screen and (max-width: 501px) {
    .bande-coloree-medium {
    display: none;
}

}