/*----- Section hero -----*/

.sectionHeroProjets {
  background-color: var(--bs-primary);
  background-position: 100% 100%;
  background-size: cover;
}

main video {
  width: 100%;
  height: 100%;
}

.sectionOeuvre2 {
  background-color: var(--bs-info);
}

.sectionOeuvre4 {
  background-color: var(--bs-secondary);
}

@media screen and (max-width: 768px) {
  .sectionOeuvre2 .container .row {
    flex-direction: column-reverse;
  }

  .sectionOeuvre4 .container .row {
    flex-direction: column-reverse;
  }
}

/*----- Bande colorée -----*/

.bande-coloree {
  width: 100%;
  height: 10px;
  background-image: url(../assets/images/bande_colore.jpg);
  background-position: 100% 40%;
  background-size: cover;
}
