$light:        #ffffff;
$dark:         #2C3E50;
$primary:      #2C3E50;
$secondary:    #BBB8B2;
$info:         #96616B;
$success :     #a8a890;
$warning :     #edd134;
$danger :      #ff9f7c;
$white: #ffffff;
$beige: #DBD7D4;

$theme-colors: (
    "light":      #ffffff,
    "dark":       #2C3E50,
    "primary":    #2C3E50,
    "secondary":  #BBB8B2,
    "info":       #96616B,
    "success":    #a8a890, 
    "warning":    #edd134,
    "danger":     #ff9f7c,
);

@import '../vendors/bootstrap-5.3.8/scss/bootstrap.scss'